.footer-section-sec{
    background-color: rgba(8, 3, 3, 0.918);
    color: white;
}
.footer-section-sec ul li{
     color: #ffff;
}
.footer-section-sec ul li:hover{
    color: rgb(11, 222, 92);
}
/* mobile-responsive */
.mobile-responsive{
     position: fixed;
     bottom: 0;
     background-color: #fff;
     z-index: 99;
}
.mobile-responsive-list li div:hover{
     color: red;
}
.mobile-menu{
     position: absolute;
     top:150px;
     left:0;
     width: 100%;
     background:#fff;
     border-radius: 8px;
     z-index: -99;
     /* border: 2px solid red; */

}
.menu-list-add:hover .mobile-menu{
    top: -150px;
    transition: all 1s ease-in-out;
}
.mobile-menu ul li{
    padding: 2px 0;
    text-align: end;
}